<img src="./assets/img/single_user.png" class="mx-auto d-block" style=" align: center;">

<div class="container">
  <div class="col-md-12">
    <form [formGroup]="service.formModelRegister" autocomplete="off" (submit)="onSubmit()">
      <div class="form-group required">
        <label>First Name</label>
        <input type="text" class="form-control" formControlName="FirstName">
        <label class="text-danger" *ngIf="service.formModelRegister.get('FirstName').touched && service.formModelRegister.get('FirstName').errors?.required"  >This field is mandatory</label>
      </div>
      <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" formControlName="LastName">
      </div>
      <div class="form-group required">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="Email">
            <label class="text-danger" *ngIf="service.formModelRegister.get('Email').touched && service.formModelRegister.get('Email').errors?.required"  >This field is mandatory</label>

      </div>
      <div class="form-group">
              <label>Phone</label>
              <input type="text" class="form-control" formControlName="Phone">
      </div>
      <div class="form-group">
          <label>Profile Pic</label>
          <input type="text" class="form-control" formControlName="ProfilePic">
      </div>

      <div formGroupName="Passwords">
      <div class="form-group required">
          <label>Password</label>
          <input type="text" class="form-control" formControlName="Password">
          <label class="text-danger" *ngIf="service.formModelRegister.get('Passwords.Password').touched && service.formModelRegister.get('Passwords.Password').errors?.required"  >This field is mandatory</label>

      </div>
    </div>
    <div class="form-row ">
      <div class="form-group col-md-8 offset-md-2 d-block">
        <input type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!service.formModelRegister.valid" value="Sign Up">
      </div>
    </div>
    </form>
  </div>
</div>
